<meta charset="UTF-8">
<p><font face="Helvetica">HITSZ助手由哈工大（深圳）学生团队开发，</font><span
        style="font-family: Helvetica;">不代表学校官方</span></p>
<h4 style="font-family: 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu; color: rgb(0, 0, 0);">App官网</h4>
<a href="http://www.hita.store">http://www.hita.store</a>
<h4
        style="font-family: 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu; color: rgb(0, 0, 0);">AppDemo</h4>
<p style=""><a href="https://www.bilibili.com/video/BV1qi4y1s7Sc/">https://www.bilibili.com/video/BV1qi4y1s7Sc/</a></p>
<h4 style="font-family: 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu; color: rgb(0, 0, 0);">App开源</h4><p
        style="font-family: 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu; color: rgb(0, 0, 0);">
    GitHub:&nbsp;<a
        href="https://github.com/StupidTrees/HITA_X">HITSZ助手重构版 (github.com)</a></p><p
        style="font-family: 微软雅黑, MicrosoftJhengHei, 华文细黑, STHeiti, MingLiu; color: rgb(0, 0, 0);">
    欢迎大家关注给星😘</p>
<h4 style="font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft Yahei&quot;, &quot;Hiragino Sans GB&quot;, &quot;WenQuanYi Micro Hei&quot;, Arial, Verdana, sans-serif; color: rgb(0, 0, 0);">
    UI设计</h4><p>简洁的UI设计，保留Material Design元素，支持主题色更换、深色模式。</p><h4>教务</h4><p>新教务已经完成适配，
    日后将随着新教务功能的完善增加功能。</p><p>我们的目标是提供超过官方app的体验。</p><h4
        style="font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft Yahei&quot;, &quot;Hiragino Sans GB&quot;, &quot;WenQuanYi Micro Hei&quot;, Arial, Verdana, sans-serif; color: rgb(0, 0, 0);">
    课表与日程</h4><p
        style="font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft Yahei&quot;, &quot;Hiragino Sans GB&quot;, &quot;WenQuanYi Micro Hei&quot;, Arial, Verdana, sans-serif; color: rgb(0, 0, 0);">
    简洁而美观的课表UI，附带DDL管理、任务清单等日程功能</p><h4
        style="font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft Yahei&quot;, &quot;Hiragino Sans GB&quot;, &quot;WenQuanYi Micro Hei&quot;, Arial, Verdana, sans-serif; color: rgb(0, 0, 0);">
    <br></h4><h4
        style="font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft Yahei&quot;, &quot;Hiragino Sans GB&quot;, &quot;WenQuanYi Micro Hei&quot;, Arial, Verdana, sans-serif; color: rgb(0, 0, 0);">
    备案信息</h4><a href="http://www.miibeian.gov.cn" target="_blank">粤ICP备19145786号-1</a><p></p>

